# AWS Configuration
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_BUCKET_NAME=your-s3-bucket-name
AWS_ENDPOINT_URL=https://s3.your-region.amazonaws.com
AWS_BUCKET_ENDPOINT_URL=https://your-bucket-name.s3.your-region.amazonaws.com

# Environment
NODE_ENV=development

# Authentication
AUTH_SECRET="your-auth-secret"

# AI Provider API Keys
DEEPSEEK_API=your-deepseek-api-key

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/bodyfuel_db

# Origins
ALLOWED_ORIGINS=https://bodyfuel-shop.vercel.app,https://bodyfuel-admin.vercel.app,https://bodyfuel.vercel.app